.formFormat input {
    width: auto;
}

table {
    margin-top: 1.8em;
}

.addSection {
    text-align: center;
}

.addSection button {
    margin: 1em;
}

.secondaryFilter {
    background-color: powderblue;
}