.formFormat input {
    width: auto;
}

table {
    margin-top: 1.8em;
}

.addSection {
    text-align: center;
}

.addSection button {
    margin: 1em;
}

.table tr td.alert-success {
    background-color: #d1e7dd;
    border-color: #badbcc;
    color: #0f5132;
}

.table tr td.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c2c7;
    color: #842029;
}

.table> :not(caption)>*>td.bgNone {
    background-color: none !important;
}