.rowDefault td {
    border-bottom: 1px solid cornflowerblue;
    border-top: 1px solid cornflowerblue;
    padding: 3px 15px;
}

.addSection {
    padding: 2em;
    text-align: center;
}

.invalidInput input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}

.invalidInput input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}